*{
    margin: 0;
    padding: 0;
}
        body{
            font-family: Georgia, 'Times New Roman', Times, serif;
            font-size: 22px;
            color:rgb(71, 26, 26);
            text-shadow: salmon;
        }
        .content{
            display: flex; 
            justify-content: center;
            overflow: hidden ;
            margin: 30px auto;
        }
        .contato{width: 800;
            max-width: 500px;
        }
        input{
            width: 300px;
            height: 30px;
            margin: 10px 0;
            padding: 5px;
            border: rosybrown;
            background-color: rgb(189, 159, 159);
            box-shadow: 5px 5px 10px black;
            color: rgb(71, 26, 26);
        }
        .texto{
            background-color:rgb(189, 159, 159);
            box-shadow: 5px 5px 10px black;
        }

